<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security6"
      lang="en">
<head>
    <title>Add Product</title>
    <th:block th:replace="layout::link-css1"></th:block>
    <th:block th:replace="layout::link-css2"></th:block>
    <th:block th:replace="layout::link-css3"></th:block>
    <th:block th:replace="layout::link-css4"></th:block>
    <th:block th:replace="layout::link-css5"></th:block>
    <th:block th:replace="layout::link-css6"></th:block>

</head>
<body>
<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
            <span>
              Zoutoys
            </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href="@{/products}" class="nav-link">Sản Phẩm</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href="@{/products/add}" class="nav-link">Thêm Sản Phẩm</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href="@{/categories/add}" class="nav-link">Thêm Thể loại</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                    <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
                        <span class="navbar-text text-white me-3">Xin chào, <span sec:authentication="name"></span></span>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                            <button style="color:black" class="btn btn-outline-light" type="submit">Đăng xuất</button>
                        </form>
                    </li>
                    <li style="color:black" class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-light" href="/login">Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<section  class="container mt-5">
    <h1>Add New Product</h1>
    <form th:action="@{/products/add}" th:object="${product}" method="post"
          class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name"
                   required>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="text" th:field="*{price}" class="form-control" id="price"
                   required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select th:field="*{category}" class="form-control" id="category">
                <option th:each="category : ${categories}"
                        th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea th:field="*{description}" class="form-control"
                      id="description" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
        <a th:href="@{/products}" class="btn btn-link">Cancel</a>
    </form>
</section>
<br>
<br>
</body>
</html>